@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer base {
	h3 {
		@apply font-bold;
	}
	/* button {
		@apply rounded-lg;
	} */

	/* input {
		@apply border border-gray-300 pl-3 py-2.5 rounded-md cursor-pointer focus:border-sky-500 focus:outline focus:outline-sky-500;
	} */
}

@layer utilities {
	.profileTitle {
		@apply text-stone-400 text-xs uppercase;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}