@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer base {
  h3 {
    @apply font-bold;
  }

	button {
		@apply rounded-md cursor-pointer;
	}

}

@layer components {
	.profileTitle {
		@apply text-stone-400 text-xs uppercase;
	}

  .primaryBtn {
    @apply border-2 border-black shadow-sm px-3 py-1.5 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .secondaryBtn {
    @apply bg-black text-white px-3 py-1.5 hover:opacity-70 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
